*{
    box-sizing: border-box;
}

#logo {
    width: 10rem;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #79BDFF;
    min-height: 80px;
    padding: 3rem;
}

body{
    background: linear-gradient(90deg, rgb(169, 145, 185) 0%, rgb(194, 157, 157) 50%, rgb(186, 168, 144) 100%);
}

header {
  
    background-color: rgb(236, 222, 222);
    text-align: center;
    padding: 2rem 0rem;
    
}

h1 {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#category div{
    display: flex !important;
    flex-direction: row !important;
    padding: 0.5rem;
}

#category {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

label {
    margin-left: 0.3rem;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
}

.card {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    background-color: rgb(236, 222, 222) !important;
    border-color: black !important;
    border-width: 0.1rem !important;
    padding: 1rem;
    margin: 3rem;
    width: 18rem;
}

.card-img-top {
    padding: 1rem;
    height: 10rem;
    border-color: black !important;
    border-width: 0.1rem !important;
   
}

.card-body {
    height: 7rem;
}

h5, p {
    text-align: center;
}

.footer-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
   
}

.footer-card p{
    margin: 1rem 0;
}

.footer-card a{
    margin: 1rem 0;
}

.btn-light {
    border-style: solid;
    border-color: black;
   
    padding: 1rem;
}

.footerCard a{
    margin: 0;
    border-style: solid;
    border-color: black;
    display: flex;
    padding: 0rem 1rem;
    margin: 1rem 0;

    text-align: center;
    text-decoration: none;
    color: black;
    box-shadow: -5px -5px 10px
}

/* .boton{
    border-style: solid;
    border-color: black;
    display: flex;
    margin: 0;
} */

footer {
    background-color: rgb(236, 222, 222);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer svg{
    height: 5rem;
    padding: 1rem;
}

#cohort {
    padding: 1rem 4rem;
   
}

h1, h3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

a {
    color: black !important;
    text-decoration: none;
}

#submit {
    display: flex;
    justify-content: end;
}

td, th{
    border-style: solid !important;
    border-color: black !important;
    border-width: 2px !important;
    text-align: initial;
    padding:0.5rem !important;
    height: 1rem !important;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    

    

}

#details {
    width: 38rem;
    height: 20rem;
    border: none;
}

#textoDetails {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 1rem;
}

#sectionDetails {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.6rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 500px;
    margin: 5rem 0 5rem 20rem;

    

}

#sectionDetails img {
    margin: 1rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 1rem;
    height: 212px;
    width: 212px;
    box-shadow: -1rem -0.5rem 1rem;
}

#textoDetails{
    height: 212px;
    width: 212px;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
}

/* tr {
    display: flex;
    flex-direction: row;
} */
@media only screen and (min-width: 320px) and (max-width: 767px){

nav{
    display: flex;
    flex-direction: column;
}

nav div{
    display: flex;
    flex-direction: column;

}

nav button{
    margin:0.3rem;
}

nav img{
    height: 75px;
    width: 230px;
    margin-bottom: 1rem;
}

#category div{
    display: flex;
    flex-wrap: wrap;
}

.section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;

}
footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
}

#sectionDetails div{
    display: flex;
    flex-wrap: wrap;
}

#sectionDetails {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.6rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 82% !important;
    margin: 5rem 0 5rem 2rem;

    

}



}



@media only screen and (min-width: 767px) and (max-width: 1024px){

#categories div{
    display: flex;
    flex-direction: row;
}

#cards {
    display: flex;
    flex-wrap: wrap;

}

#sectionDetails {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0.6rem;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 500px;
    margin: 5rem 0 5rem 20rem;

    

}

}

